*
{
    box-sizing: border-box;
}

h1
{
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial;
}

p
{
    width: 90%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial;
    color: black;
}

.title1, .title2 ,.title3
{
    position: absolute;
    width: 150px;
    height: 30px;
    margin-top: 0%;
    margin-bottom: 40px;
    right: 0%;
    top: 0;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    text-align: center;
}
.title1{
	background-color: #FFB6C1;
}
.title2{
	background-color: #FF0000;
	color: white;
}
.title3{
	background-color: #FFDEAD;
}


.paragraph
{
    margin-top: 50px;
}


.row
{
    width: 100%;
}

/********** desktop devices only **********/
@media (min-width: 992px)
{
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
    .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
    {
        position: relative;
        float: left;
        border: 4px solid black;
        background-color: gray;
        height: 300px;
        overflow: hidden;
        margin-right: 1.33%;
        
    }

    .col-lg-1
    {
        width: 8.33%;
    }

    .col-lg-2
    {
        width: 16.66%;
    }

    .col-lg-3
    {
        width: 25%;
    }

    .col-lg-4
    {
         width: 32%;
    }

    .col-lg-5
    {
        width: 41.66%;
    }

    .col-lg-6
    {
        width: 50%;
    }

    .col-lg-7
    {
        width: 58.33%;
    }

    .col-lg-8
    {
        width: 66.66%;
    }

    .col-lg-9
    {
        width: 74.99%;
    }

    .col-lg-10
    {
        width: 83.33%;
    }

    .col-lg-11
    {
        width: 91.66%;
    }

    .col-lg-12
    {
        width: 100%;
    }

}

/********** tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px)
{
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
    {
       
        position: relative;
        float: left;
        border: 4px solid black;
        background-color: gray;
        height: 300px;
        overflow: hidden;
        margin-right: 1%;
        margin-top: 1%;
    }

    .col-md-1
    {
        width: 8.33%;
    }

    .col-md-2
    {
        width: 16.66%;
    }

    .col-md-3
    {
        width: 25%;
    }

    .col-md-4
    {
         width: 33.33%;
    }

    .col-md-5
    {
        width: 41.66%;
    }

    .col-md-6
    {
        
        width: 49%;
    }

    .col-md-7
    {
        width: 58.33%;
    }

    .col-md-8
    {
        width: 66.66%;
    }

    .col-md-9
    {
        width: 74.99%;
    }

    .col-md-10
    {
        width: 83.33%;
    }

    .col-md-11
    {
        width: 91.66%;
    }

    .col-md-12
    {
        width: 100%;
    }
}

/********** mobile devices only **********/
@media (max-width: 767px)
{
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12
    {
        
        position: relative;
        float: left;
        border: 4px solid black;
        background-color: gray;
        height: 300px;
        overflow: hidden;
        margin-right: 1%;
        margin-top: 1%;
    }

    .col-sm-1
    {
        width: 8.33%;
    }

    .col-sm-2
    {
        width: 16.66%;
    }

    .col-sm-3
    {
        width: 25%;
    }

    .col-sm-4
    {
         width: 33.33%;
    }

    .col-sm-5
    {
        width: 41.66%;
    }

    .col-sm-6
    {
        width: 50%;
    }

    .col-sm-7
    {
        width: 58.33%;
    }

    .col-sm-8
    {
        width: 66.66%;
    }

    .col-sm-9
    {
        width: 74.99%;
    }

    .col-sm-10
    {
        width: 83.33%;
    }

    .col-sm-11
    {
        width: 91.66%;
    }

    .col-sm-12
    {
        width: 100%;
    }
}